{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}Notícias{% endblock %} | AAA HardCore</title>
  <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
  <style>

    .media-left img {
      border-radius: 50%;
    }
    .media-content p {
      font-size: 14px;
      line-height: 2.3;
      font-weight: 700;
      color: #8F99A3;
    }
    article.post {
      margin: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid #E6EAEE;
    }
    article.post:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
    .menu-list li{
      padding: 5px;
    }
    .box{

    }
  </style>

</head>

<body>
  <div class="degradee-initial">
    <!-- <section class="hero is-home-page is-fullheight"> -->
      <div class="hero-head">
        <header class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item" href="{% url 'website:index' %}">
                < AAA HardCore />
              </a>
              <span class="navbar-burger burger" data-target="navbarMenuHeroC">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenuHeroC" class="navbar-menu">
              <div class="navbar-end">
                <a class="navbar-item is-active" href="{% url 'website:index' %}">
                  <span class="icon">
                    <i class="fas fa-home"></i>
                  </span>
                  <span>Home</span>
                </a>
                <a class="navbar-item" href="{% url 'website:product_list' %}">
                  <span class="icon">
                    <i class="fas fa-shopping-basket"></i>
                  </span>
                  <span>Produtos</span>
                </a>
                <a class="navbar-item" href="{% url 'website:partner_list' %}">
                  <span class="icon">
                    <i class="fas fa-handshake"></i>
                  </span>
                  <span>Parceiros</span>
                </a>
                <a class="navbar-item" href="{% url 'website:notice_list' %}">
                  <span class="icon">
                    <i class="fas fa-file-alt"></i>
                  </span>
                  <span>Notícias</span>
                </a>
                <a class="navbar-item" href="{% url 'website:about' %}">
                  <span class="icon">
                    <i class="fas fa-users"></i>
                  </span>
                  <span>Quem somos</span>
                </a>
                <a class="navbar-item" href="{% url 'website:contact' %}">
                  <span class="icon">
                    <i class="fas fa-question-circle"></i>
                  </span>
                  <span>Ajuda</span>
                </a>
                <span class="navbar-item">
                  <a class="button is-bg-orange-outlined" href="{% url 'website:login' %}">
                    <span class="icon">
                      <i class="fas fa-user"></i>
                    </span>
                    <span>Login</span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </header>
      </div>
  </div>
    <br>
        <section class="container">
			<div class="columns">
				<div class="column is-10 is-offset-1">
					<div class="box content">
						<article class="post">
							<h4>Associação: Quanto tempo dura a associação ?</h4>
							<div class="media">
								<div class="media-content">
									<div class="content">
										<p>
											Pode ser de 1 ano a 6 meses, fiquem atentos as notícias da atletica &nbsp;
											<span class="tag">Resposta</span>
										</p>
									</div>
								</div>
{#								<div class="media-right">#}
{#									<span class="has-text-grey-light"><i class="fa fa-comments"></i> 1</span>#}
{#								</div>#}
							</div>
						</article>
						<article class="post">
							<h4> Quando começa o período de associação ?</h4>
							<div class="media">
								<div class="media-content">
									<div class="content">
										<p>
											Geralmente no começo do período &nbsp;
											<span class="tag">Resposta</span>
										</p>
									</div>
								</div>
							</div>
						</article>
                        <article class="post">
							<h4> Como eu consigo pegar o desconto dos parceiros ?</h4>
							<div class="media">
								<div class="media-content">
									<div class="content">
										<p>
											Basta apresentar a carteirinha de associado na hora do pagamento &nbsp;
											<span class="tag">Resposta</span>
										</p>
									</div>
								</div>
							</div>
						</article>
                        <article class="post">
							<h4> Quem não é sócio pode comprar ?</h4>
							<div class="media">
								<div class="media-content">
									<div class="content">
										<p>
											Sim, existe o preço para não sócio e para sócio &nbsp;
											<span class="tag">Resposta</span>
										</p>
									</div>
								</div>
							</div>
						</article>

					</div>
				</div>
			</div>
		</section>
  <br>

		  <footer class="footer has-background-black has-text-white">
            <div class="content has-text-centered">
              <p>
                <strong class="has-text-white">
                  < AAA HardCore /></strong> by <a href="">Los Hugos</a>.
                <br>
                Todos os direitos reservados - {% now "Y" %}.
              </p>
            </div>
        </footer>
		<script async type="text/javascript" src="../js/bulma.js"></script>
	</body>
</html>
