{% extends 'core/base.html' %}

{% block title %}Gerenciar Notícias{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">Gerenciar Notícias</h1>
    <div class="columns">
      <div class="column">
        <form action="" method="get">
          <div class="field has-addons">
            <div class="control is-expanded">
              <input name="busca" type="text" class="input" placeholder="Digite o título da notícia">
            </div>
            <div class="control">
              <button type="submit" class="button is-link">
                <span class="icon">
                  <i class="fas fa-search"></i>
                </span>
                <span>
                  Pesquisar
                </span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <a href="{% url 'notice:new_notice' %}" class="button is-link">
          Adicionar uma nova notícia
        </a>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        {% if objetos %}
        <table class="table is-fullwidth is-narrow">
          <thead>
            <tr>
              <th>#</th>
              <th>Nome</th>
              <th>Opções</th>
            </tr>
          </thead>
          <tbody>
           {% for aux in objetos %}
           <tr>
              <td>{{forloop.counter}}</td>
              <td>{{aux.title}}</td>
              <td>
                <a href="{% url 'notice:edit_notice' aux.id %}" class="button is-warning">
                  <span class="icon">
                    <i class="fas fa-edit"></i>
                  </span>
                  <span>
                    Editar
                  </span>
                </a>
                <a href="{% url 'notice:delete_notice' aux.id %}" class="button is-danger">
                  <span class="icon">
                    <i class="fas fa-trash-alt"></i>
                  </span>
                  <span>
                    Excluir
                  </span>
                </a>
                <a href="{% url 'notice:detail_notice' aux.id %}" class="button is-info">
                  <span class="icon">
                    <i class="fas fa-eye"></i>
                  </span>
                  <span>
                    Visualizar
                  </span>
                </a>
              </td>
            </tr>
           {% endfor %}
          {% else %}
            <td>
              <h5>Nenhuma notícia encontrada.</h5>
            </td>
          {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock %}
      