{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Título da Notícia | AAA HardCore</title>
  <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
</head>

<body>
  <div class="degradee-initial">
    <div class="hero-head">
      <header class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'website:index' %}">
              < AAA HardCore />
            </a>
            <span class="navbar-burger burger" data-target="navbarMenuHeroC">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroC" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item is-active" href="{% url 'website:index' %}">
                <span class="icon">
                  <i class="fas fa-home"></i>
                </span>
                <span>Home</span>
              </a>
              <a class="navbar-item" href="{% url 'website:product_list' %}">
                <span class="icon">
                  <i class="fas fa-shopping-basket"></i>
                </span>
                <span>Produtos</span>
              </a>
              <a class="navbar-item" href="{% url 'website:notice_list' %}">
                <span class="icon">
                  <i class="fas fa-file-alt"></i>
                </span>
                <span>Notícias</span>
              </a>
              <span class="navbar-item">
                <a class="button is-bg-orange-outlined" href="{% url 'website:login' %}">
                  <span class="icon">
                    <i class="fas fa-user"></i>
                  </span>
                  <span>Login</span>
                </a>
              </span>
            </div>
          </div>
        </div>
      </header>
    </div>
  </div>

  <section class="hero is-content-list">
    <div class="hero-body">
      <div class="container">
        
        <div class="columns">
          <div class="column is-5">
            <div class="box">
              <img src="{{ objeto.image.url }}" class="img-product-detail" alt="Placeholder image">
            </div>
          </div>
          <div class="column">
            <div class="container">
              <div class="content">
                <p class="is-size-4">{{ objeto.name }}</p>
                <div class="control">
                  <div class="tags has-addons">
                    <span class="tag is-medium is-link">R$</span>
                    <span class="tag is-medium is-light">{{ objeto.value }}</span>
                  </div>
                </div>
                <p></p>
                <hr>
                <p class="control">{{ objeto.description }}
                </p>
                <hr>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <footer class="footer has-background-black has-text-white">
    <div class="content has-text-centered">
      <p>
        <strong class="has-text-white">PJ do Piauí</strong> by <a href="https://gabrielloliveira.com" target="_blank">Gabriell Oliveira</a>.
        <br>
        Todos os direitos reservados - 2019.
        <br>
        Ícones - <a href="https://fontawesome.com/">FontAwesome</a>
      </p>
    </div>
  </footer>
</body>

</html>