{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %} | AAA HardCore</title>
  <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
</head>
<body>

  <nav class="navbar navbar-dashboard" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{% url 'core:index' %}">
        < AAA HardCore />
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <form action="{% url 'core:logout_user' %}" method="post">
          {% csrf_token %}
          <div class="navbar-item">
            <div class="buttons">
              <button class="button is-danger">
                <span class="icon">
                  <i class="fas fa-sign-in-alt"></i>
                </span>
                <span>
                  Sair
                </span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </nav>

  <div class="columns">
    <div class="column is-2 menu-left">
      <aside class="menu">
        <p class="menu-label">
          Geral
        </p>
        {% if request.user.is_superuser %}
        <ul class="menu-list">
          <li>
            <a {% if request.resolver_match.app_name == 'core' %}class="is-bg-orange"{% endif %} href="{% url 'core:index' %}">
              <span class="icon">
                <i class="fas fa-home"></i>
              </span>
              <span>
                Home
              </span>
            </a>
          </li>
          <li>
            <a href="{% url 'partner:index' %}"{% if request.resolver_match.app_name == 'partner' %}class="is-bg-orange"{% endif %}>
              <span class="icon">
                <i class="fas fa-handshake"></i>
              </span>
              <span>
                Gerenciar Parceiros
              </span>
            </a>
          </li>
          <li>
            <a href="{% url 'notice:index' %}" {% if request.resolver_match.app_name == 'notice' %} class="is-bg-orange" {% endif %}>
              <span class="icon">
                <i class="fas fa-file-alt"></i>
              </span>
              <span>
                Gerenciar Notícias
              </span>
            </a>
          </li>
          <li>
            <a {% if request.resolver_match.app_name == 'product' %}class="is-bg-orange"{% endif %}href="{% url 'product:index' %}">
              <span class="icon">
                <i class="fas fa-box-open"></i>
              </span>
              <span>
                Gerenciar Produtos
              </span>
            </a>
          </li>
          <li>
            <a href="{% url 'association:index' %}"{% if request.resolver_match.app_name == 'association' %}class="is-bg-orange"{% endif %}>
              <span class="icon">
                <i class="fas fa-users"></i>
              </span>
              <span>
                Gerenciar Sócios
              </span>
            </a>
          </li>
          {% if request.user.is_staff %}
            <li>
              <a href="{% url 'director:manage' %}"{% if request.resolver_match.app_name == 'director' %}class="is-bg-orange"{% endif %}>
                <span class="icon">
                  <i class="fas fa-user-tie"></i>
                </span>
                <span>
                  Gerenciar Diretores
                </span>
              </a>
            </li>
          {% endif %}
        </ul>
        {% else %}
        <ul class="menu-list">
          <li>
            <a {% if request.resolver_match.app_name == 'core' %}class="is-bg-orange"{% endif %} href="{% url 'core:my-association' %}">
              <span class="icon">
                <i class="fas fa-home"></i>
              </span>
              <span>
                Minha Associação
              </span>
            </a>
          </li>
        </ul>
        {% endif %}
      </aside>
    </div>
    <div class="column">
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>


  <footer class="footer has-background-black has-text-white">
    <div class="content has-text-centered">
      <p>
        <strong class="has-text-white">< AAA HardCore /></strong> by <a href="">Los Hugos</a>.
        <br>
        Todos os direitos reservados - 2019.
      </p>
    </div>
  </footer>
  <script>
    document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});
  </script>
</body>
</html>