{% extends 'core/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">Bem vindo {{ request.user.profile.full_name }}!</h1>
    <h2 class="subtitle">
      Este é o seu paínel como <strong>diretor</strong> da atlética.
    </h2>
    <div class="columns">
      <div class="column">
        <div class="box notification is-link">
          <div class="heading">Quantidade de sócios</div>
          <div class="title">
            64
          </div>
        </div>
      </div>
      <div class="column">
        <div class="box notification is-info">
          <div class="heading">Quantidade de notícias</div>
          <div class="title">
            4
          </div>
        </div>
      </div>
      <div class="column">
        <div class="box notification is-primary">
          <div class="heading">Quantidade de parceiros</div>
          <div class="title">
            5
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}