{% extends 'core/base.html' %}

{% block title %}Adicionar Diretor{% endblock %}

{% block head %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock%}

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">Adicionar Diretor</h1> 

    <div class="columns">
      <div class="column">
        <div class="container">
          <div class="box">
            <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
              <div class="field">
                <label class="label">CPF do Usuário:</label>
                <div class="control">
                  <input class="input" type="text" name="user" onkeypress="buscar(this)" required>
                </div>
              </div>

              <div class="field">
                <label class="label">Cargo:</label>
                <div class="control">
                  <div class="select is-fullwidth">
                    <select name="office" required>
                      <option selected value="TI">TI</option>
                      <option value="Presidente">Presidente</option>
                      <option value="Vice Presidente">Vice Presidente</option>
                      <option value="Secretária">Secretária</option>
                      <option value="Diretor de Esportes">Diretor de Esportes</option>
                      <option value="Diretor De E-Sports">História</option>
                      <option value="Diretor Financeiro">Diretor Financeiro</option>
                      <option value="Diretor de Eventos">Diretor de Eventos</option>
                      <option value="Diretor de Marketing">Diretor de Marketing</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link">Cadastrar</button>
                </div>
                <div class="control">
                  <a href="{% url 'director:manage' %}" class="button is-warning">Cancelar</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

{% endblock %}
      
{% block js %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  let users = []
  {% for user in users %}
  users.push('{{ user.profile.full_name }} | {{ user.profile.cpf }}')
  {% endfor %}
 
  function buscar(el){
    $(el).autocomplete({
      source: users
    });
  }
</script>
{% endblock %}
