{% extends 'core/base.html' %}
{% load static %}

{% block title %}Editar Informações{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">Editar Informações</h1> 

    <div class="columns">
      <div class="column">
        <div class="container">
          <div class="box">
            <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="field">
                <label class="label">Nome completo</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" placeholder="{{ objeto.full_name }}" name="name" value="{{ objeto.full_name }}"  required>
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
              </div>
              
              <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" placeholder="exemplo@email.com" name="email" value="{{ objeto.user.email }}" required>
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
              </div>
  
              <div class="field">
                <label class="label">Curso que você faz</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" placeholder="Ex.: Sistemas de Informação" value="{{ objeto.course_name }}" name="course" required>
                  <span class="icon is-small is-left">
                    <i class="fas fa-university"></i>
                  </span>
                </div>
              </div>
  
              <div class="field">
                <label class="label">Data de Nascimento</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="date" placeholder="" value='{{ objeto.date_birth|date:"Y-m-d" }}' name="birth-date" required>
                  <span class="icon is-small is-left">
                    <i class="fas fa-birthday-cake"></i>
                  </span>
                </div>
              </div>
  
              <div class="field">
                <label class="label">Sexo</label>
                <div class="control has-icons-left has-icons-right">
                  <div class="control">
                    <label class="radio">
                      <input type="radio" name="sex" value="F" {% if objeto.sex == 'F'%} checked {% endif %}>
                      Feminino
                    </label>
                    <label class="radio">
                      <input type="radio" name="sex" value="M" {% if objeto.sex == 'M'%} checked {% endif %}>
                      Masculino
                    </label>
                  </div>
                </div>
              </div>
              
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link">Editar</button>
                </div>
                <div class="control">
                  <a href="{% url 'core:my-association' %}" class="button is-warning">Cancelar</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

{% endblock %}

      