{% extends 'core/base.html' %}

{% block title %}Gerenciar Sócios{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">Gerenciar Sócios</h1>
    
    <div class="columns">
      <div class="column">
        <form action="" method="get"> {% csrf_token %}
          <div class="field has-addons">
            <div class="control is-expanded">
              <input name="busca" type="text" class="input" placeholder="Digite o nome do parceiro">
            </div>
            <div class="control">
              <button type="submit" class="button is-link">
                <span class="icon">
                  <i class="fas fa-search"></i>
                </span>
                <span>
                  Pesquisar
                </span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <a href="./?filter=not-associated" class="button is-link">
          Mostrar somente não associados
        </a>
      </div>
    </div>

    <div class="columns">
      <div class="column">
        <table class="table is-fullwidth is-narrow">
          <thead>
            <tr>
              <th>#</th>
              <th>Nome</th>
              <th>Status</th>
              <th>Opções</th>
            </tr>
          </thead>
          <tbody>
           {% for x in objetos %}
           <tr>
              <td>{{forloop.counter}}</td>
              <td>{{x.profile.full_name}}</td>
              <td>
                {% if x.profile.has_associated %}
                <span class="tag is-medium is-link">Associado</span>
                {% else %}
                  <a class="button is-success button-associate" data-id="{{ x.id }}">
                    <span class="icon" data-id="{{ x.id }}">
                      <i class="fas fa-check"></i>
                    </span>
                    <span data-id="{{ x.id }}">
                      Associar/Renovar
                    </span>
                  </a>  
                {% endif %}
              </td>
              <td>
                <a href="{% url 'association:deletar' x.id %}" class="button is-danger">
                  <span class="icon">
                    <i class="fas fa-trash-alt"></i>
                  </span>
                  <span>
                    Excluir
                  </span>
                </a>
              </td>
            </tr>
           {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  </div>
</section>

<script>
  const button_associate = document.getElementsByClassName('button-associate')

  for(let i = 0; i < button_associate.length; i++){
    button_associate[i].addEventListener('click', (evt) => {
      let data = evt.target.getAttribute('data-id')

      let xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
         location.reload();
        }
      };
      xhttp.open("GET", "{% url 'association:add' %}?data=" + data, true);
      xhttp.send();

    })
  }

</script>

{% endblock %}