{% extends 'core/base.html' %}

{% block title %}Adicionar Sócio{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">Adicionar Parceiro</h1> 

    <div class="columns">
      <div class="column">
        <div class="container">
          <div class="box">
            <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
              <div class="field">
                <label class="label">Data de Associação:</label>
                <div class="control">
                  <input class="input" type="date" name="associationdate">
                </div>
              </div>

              <div class="field">
                <label class="label">Data de Validade:</label>
                <div class="control">
                  <input class="input" type="date" name="expirationdate">
                </div>
              </div>

              <div class="field">
                <label class="label">E-mail do sócio:</label>
                <div class="control">
                  <input class="input" type="text" name="email" placeholder="Ex.: jose@Xmail.com">
                </div>
              </div>
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link">Cadastrar</button>
                </div>
                <div class="control">
                  <a href="{% url 'association:index' %}" class="button is-warning">Cancelar</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
{% endblock %}
      