{% extends 'core/base.html' %}

{% block title %}Adicionar Parceiros{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">Adicionar Produto</h1> 

    <div class="columns">
      <div class="column">
        <div class="container">
          <div class="box">
            <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
              <div class="field">
                <label class="label">Nome:</label>
                <div class="control">
                  <input class="input" type="text" name="name" placeholder="Ex.: Caneca"required>
                </div>
              </div>

              <div class="field">
                <label class="label">Imagem:</label>
                <div class="file is-info">
                  <label class="file-label">
                    <input class="file-input" type="file" name="image"required>
                    <span class="file-cta">
                      <span class="file-icon">
                        <i class="fas fa-upload"></i>
                      </span>
                      <span class="file-label">
                        Escolha um arquivo…
                      </span>
                    </span>
                  </label>
                </div>
              </div>
              
              <div class="field">
                <label class="label">Descrição</label>
                <div class="control">
                  <textarea class="textarea" placeholder="Digite uma breve descrição do produto" name="description"required></textarea>
                </div>
              </div>
              <div class="field">
                <label class="label">Preço</label>
                <div class="control">
                  <input class="input" type="number" name="value" placeholder="Ex.: Digite o valor do produto" required step="0.05" min="0">
                </div>
              </div>
              <div class="field">
                <label class="label">Preço para sócio</label>
                <div class="control">
                  <input class="input" type="number" name="value_patner" placeholder="Ex.: Digite o valor do produto" required step="0.05" min="0">
                </div>
              </div>

              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link">Cadastrar</button>
                </div>
                <div class="control">
                  <a href="{% url 'product:index' %}" class="button is-warning">Cancelar</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
{% endblock %}
      