{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ objeto.name }} | AAA HardCore</title>
  <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
</head>

<body>

  <section class="hero is-content-list">
    <div class="hero-body">
      <div class="container">
        
        <div class="columns">
          <div class="column is-5">
            <div class="box">
              <img src="{{ objeto.image.url }}" class="img-product-detail" alt="Placeholder image">
            </div>
          </div>
          <div class="column">
            <div class="container">
              <div class="content">
                <p class="is-size-4">{{ objeto.name | capfirst }}</p>
                <div class="control">
                  <div class="tags has-addons">
                    <span class="tag is-medium is-link">R$</span>
                    <span class="tag is-medium is-light">{{ objeto.value }}</span>
                  </div>
                </div>
                <br>
                <div class="control">
                  <div class="tags has-addons">
                     <span class="tag  is-medium is-bg-orange">R$</span>
                      <span class="tag  is-medium is-light">{{ objeto.value_partner}}</span>
                      <span class="tag  is-medium is-white">(Sócio)</span>
                  </div>
                </div>
                <p></p>
                <hr>
                <p class="control">{{ objeto.description }}
                </p>
                <hr>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <footer class="footer has-background-black has-text-white">
    <div class="content has-text-centered">
      <p>
        <strong class="has-text-white">
        Todos os direitos reservados - {% now "Y" %}.
      </p>
    </div>
  </footer>
</body>

</html>