<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home | AAA HardCore</title>
  <link rel="stylesheet" href="static/css/bulma.css">
  <link rel="stylesheet" href="static/css/main.css">
  <link rel="stylesheet" href="static/fontawesome/css/all.min.css">
</head>
<body>
  <div class="degradee-initial">
    <section class="hero is-home-page is-fullheight">
      <div class="hero-head">
        <header class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item" href="./index.html">
                < AAA HardCore />
              </a>
              <span class="navbar-burger burger" data-target="navbarMenuHeroC">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenuHeroC" class="navbar-menu">
              <div class="navbar-end">
                <a class="navbar-item is-active" href="./index.html">
                  <span class="icon">
                    <i class="fas fa-home"></i>
                  </span>
                  <span>Home</span>
                </a>
                <a class="navbar-item" href="./gallery.html">
                  <span class="icon">
                    <i class="fas fa-image"></i>
                  </span>
                  <span>Galeria</span>
                </a>
                <a class="navbar-item" href="./list-product.html">
                  <span class="icon">
                    <i class="fas fa-shopping-basket"></i>
                  </span>
                  <span>Produtos</span>
                </a>
                <a class="navbar-item" href="./list-notice.html">
                  <span class="icon">
                    <i class="fas fa-file-alt"></i>
                  </span>
                  <span>Notícias</span>
                </a>
                <span class="navbar-item">
                  <a class="button is-bg-orange-outlined" href="./login.html">
                    <span class="icon">
                      <i class="fas fa-user"></i>
                    </span>
                    <span>Login</span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </header>
      </div>
        
      <!-- Hero content: will be in the middle -->
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="columns">
            <div class="column is-4 is-offset-4">
              <div class="box">
                <form action="" method="post">
                  <p class="is-size-3">Login</p>
                  <div class="field">
                    <label class="label">Email</label>
                    <div class="control has-icons-left has-icons-right">
                      <input class="input" type="text" placeholder="exemplo@email.com">
                      <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                      </span>
                    </div>
                  </div>
                  
                  <div class="field">
                    <label class="label">Senha</label>
                    <div class="control has-icons-left has-icons-right">
                      <input class="input" type="text" placeholder="senhasenha">
                      <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                    </div>
                  </div>
                  
                  <div class="field">
                    <div class="control">
                      <label class="checkbox">
                        <input type="checkbox">
                        Eu aceito os <a href="#">termos de condições</a>
                      </label>
                    </div>
                  </div>

                  <div class="field">
                    <p class="control">
                      É novo? <a href="#">Cadastre-se aqui.</a>
                    </p>
                  </div>
                  
                  <div class="field">
                    <div class="control">
                      <button class="button is-bg-orange">Entrar</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <footer class="footer has-background-black has-text-white">
    <div class="content has-text-centered">
      <p>
        <strong class="has-text-white">< AAA HardCore /></strong> by <a href="">Los Hugos</a>.
        <br>
        Todos os direitos reservados - 2019.
      </p>
    </div>
  </footer>

</body>
</html>