.is-home-page{
  background-image: url(../img/mascote.png);
  background-repeat: no-repeat;
  background-size: 70vh auto;
  background-position: bottom -35px right;
}

.navbar-dashboard{
  background-color: black;
}

.navbar-dashboard a{
  color: white;
}

.degradee-initial{
  /* background-image: linear-gradient(to bottom right, white, #302619); */
}

.is-bg-orange{
  background-color: #F0690E !important;
  color: white;
}

.is-bg-orange-outlined{
  border-color: #F0690E;
  color: #F0690E;
}

.is-bg-orange-outlined:hover{
  background-color: #F0690E;
  color: white;
}

a.navbar-item:hover{
  color: #F0690E;
}

.footer{
  margin-top: -12px;
}

.footer a:hover{
  color: #295bac;
}

.menu-left{
  min-height: 70vh;
  background-color: #2b2e3b;
}

.menu-left p{
  color: white;
  margin-left: 5px;
}

.menu-left ul li a{
  color: white;
  margin-left: 5px;
}

.menu-left ul li a:hover{
  background-color: rgb(218, 106, 32);
  color: white;
}

.is-content-list{
  min-height: 76vh;
}

.notice-content{
  text-indent: 40px;
}

.notice-content p{
  margin-bottom: 20px;
  text-align: justify;
}

.image-card {
    max-width: 100%;
    object-fit: cover !important;
    width: 300px !important;
    height: 300px !important;
    border-radius: 5px !important;
}

.content-card {
    border-radius: 5px !important;
}

.hover-shadow {
    transition: box-shadow .3s;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #fff;
}

.hover-shadow:hover {
    box-shadow: 0 0 11px rgba(33, 12, 15, 0.2);
}

.shadow-effect {
    transition: box-shadow .3s;
    border-radius: 2px;
    border: 1px solid #ccc;
}

.shadow-effect:hover {
    box-shadow: 0 0 20px rgba(33, 12, 15, 0.3);
}